@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
// Paletas de Colores//
$color1: black;
$color2:white;
$color3:blue;
$color4:rgb(37, 37, 37);

body{
    background-color: $color1 !important;
}
/*Header*/
.header{
    height: 20vh !important;
    background-image: url();
}

.navbar{
    background-color: transparent !important;
    height: 12vh !important;
}
.navbar1{
    background-color: $color1 !important;
}
.navbar1 h1:hover{
    color: $color3 !important;
}
.navbar1-brand a{
    color: $color2 !important;
    margin-left: 2vh !important; 
}

.nav-item a:hover{
    color: $color3 !important;
}
.navbar h1:hover{
    color: $color3 !important;
}
.nav-item{
    margin: 2vh !important;
}
.navbar-brand{
    color: $color2 !important;
    margin-left: 2vh !important;
   
}
ul a{
    color: $color2 !important;
    font-size: medium !important;
   
}

p{
    color: $color2;
    text-align: center !important;
}
h1{
    color: $color2 !important;
}
h2{
    color: $color2 !important;
    text-align: center !important;
    text-decoration: underline !important;
}
h6{
    color: $color2 !important;
}
.container-fluid{
    margin-top: 6vh;
}
.card{
    background-color: $color1 !important;
}
.card-body{
height: 25vh !important;
}
.card-text{
    color: $color2 !important;
    height:15vh !important;
}


.article1{
    width: 70vh !important;
    align-content: center !important;
    height: 70vh !important;
  
}
.article11{
    width: 100% !important;
    align-content: center !important;
    margin: 35vh !important;
    background-color: $color1 !important;

}

.form-group{
    color: $color2 !important;
    width: 50vh !important;
}
.contenido1{
    margin-top: 2vh !important;
    margin-bottom: 2vh !important;
}
.container1{
    align-content: center !important;
    margin-left: 15vh !important;
}
.parallax{
    height: 30vh !important;
}


h5{
    color: $color2 !important;
}
.jumbotron{
    background-color: $color1 !important;
}
.jumbotron a{
    align-items: center !important;
}
.carousel-item{
    width: 100% !important;
}
.carousel-inner img {
    width: 100% !important;
    height: 100% !important;
  }
  

.row1{
    height: 15vh !important;
    width: 60vh !important;
    margin: 30vh !important;
    background-color: transparent !important;
}
.row1 h2{
    text-align: left !important;
}
  
